<div class="outer-middle-box" ng-controller="AuditCtrl">
  <%= render partial: "home/popups/info_details" %>
  <div data-drop="true" aria-disabled="false" data-jqyoui-options="{helper: 'original'}" jqyoui-droppable="{multiple:true, onDrop: 'myCallback'}" ng-model="list2">
    <div class="middle-sec">
      <div class="iner-box clearfix">
        <div class="middle-inner-box clearfix mCustomScrollbar">
          <form ng-submit="submit()" name="auditForm">
            <div class="row middle-header clearfix">
              <div class="col-md-3" ng-repeat="item in list2 track by $index" ng-model="list2">
                <div class="span-box" ng-click="showInfo(item)">{{item.name}} <a class="span-box-remove glyphicon glyphicon-remove" ng-click="removeItemFromList(item)"></a></div>
              </div>
            </div>
            <div class="row audit-box">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">type of audit</label>
                  <div class="dropdown" ng-class="{'highlight' : (auditType != null && auditType != '')}">
                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">{{ auditType.name || 'Select Audit Type' }}<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="type_of_audit">
                      <li ng-repeat="audit_type in audit_types" on-finish-render="ngRepeatFinished">
                        <a class="trigger right-caret">{{ audit_type.name }}</a>
                        <ul class="dropdown-menu sub-menu">
                          <li ng-repeat="sub_type in audit_type['sub_types']">
                            <a ng-click="setAuditType(sub_type)">{{ sub_type.name }}</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">name of audit</label>
                  <input type="text" class="form-control" ng-model="audit.name" ng-class="{'highlight' : (audit.name != null && audit.name != '')}" style="height:38px;" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <ul class="audit-time-box clearfix">
                  <li>one time
                    <label>
                      <input type="radio" name="ont_time" ng-value=false ng-model="audit.reoccuring" ng-click="audit['interval'] = 0">
                        <img src="assets/Large-One-Time.png" class="img-responsive" ng-class="{'highlight-radio' : audit.reoccuring==false}" style="width:95%"/>
                    </label>
                  </li>
                  <li>repeating
                    <label>
                      <input type="radio" name="ont_time" ng-value=true ng-model="audit.reoccuring">
                        <img src="assets/Large-Reoccurring.png" class="img-responsive" ng-class="{'highlight-radio' : audit.reoccuring}" style="width:95%" />
                    </label>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 audit-int" ng-class="{'disabled' : !audit.reoccuring}">
                <p>Audit Interval</p>
                <ul class="audit-time-box clearfix">
                  <li><a ng-click="changeInterval(intervals[0], '-')" ng-hide="intervals.includes(0)">-</a></li>
                  <li ng-repeat="interval in intervals" ng-click="audit['interval'] = interval" ng-class="{'active' : interval == audit['interval']}">
                    <span>{{ interval }}</span>
                  </li>
                  <li><a ng-click="changeInterval(intervals[2], '+')" ng-hide="intervals.includes(48)">+</a></li>
                </ul>
              </div>
            </div>
            <div class="row date-middle">
              <div class="col-md-4 date-box">
                <ul class="audit-time-box clearfix">
                  <li>date &amp; time<button type="button" class="btn btn-default" ng-click="datePopup=true; fineTuneIsValid=true">
                  <img src="assets/Large-Date-and-Time.png" alt="" class="img-responsive" ng-class="{'highlight-radio' : fineTuneIsValid}"/></button></li>
                </ul>
              </div>
              <div class="col-md-4 onside">
                <ul class="audit-time-box clearfix">
                  <li>onsite
                    <label>
                      <input type="radio" name="ont_time" ng-value=true ng-model="audit.onsite" ng-click="locationPopup=true">
                      <img src="assets/Large-Home.png" class="img-responsive" ng-class="{'highlight-radio' : audit.onsite}" />
                    </label>
                  </li>
                  <li>desktop
                    <label>
                      <input type="radio" name="ont_time" ng-value=false ng-model="audit.onsite">
                        <img src="assets/Large-Desktop.png" class="img-responsive" ng-class="{'highlight-radio' : audit.onsite==false}" />
                    </label>
                  </li>
                </ul>
              </div>
              <div class="col-md-4 parti">
                <ul class="audit-time-box clearfix">
                  <li>participants 
                    <button type="button" class="btn btn-default" ng-click="participantsPopup=true">
                      <img src="assets/user.png" alt="" class="img-responsive" ng-class="{'highlight-radio' : participantsHighlight}"/>
                    </button></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 footer-note-box">
                <label>notes</label>
                <textarea class="form-control" ng-model="audit.notes" ng-class="{'highlight' : (audit.notes != '' && audit.notes !=  null)}"></textarea>
              </div>
            </div><br>
            <div class="row date-middle">
                <button type="button" class="btn btn-cal" ng-click="reset()">Reset</button>
                <button type="submit" class="btn btn-cal btn2">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <%= render partial: "home/popups/date_time" %>
      <%= render partial: "home/popups/fine_tune" %>
      <%= render partial: "home/popups/location" %>
      <%= render partial: "home/popups/participants_popup" %>
      <%= render partial: "home/popups/employee_info" %>
    </div>
  </div>
</div>
